.formstyle{
            
    width: 190px;
    height: 265px;
    margin: auto;
    border:2px solid goldenrod;
    border-radius: 20px;
    padding-left: 32px;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color:black;
    
}
/* h1{
    margin: center;
    padding-left: 415px;
} */
.form1{
    
}
input{
    width: 50px;
    background-color: cadetblue;
    border-radius: 5px;
}
#i1{
    width: 150px;
    background-color: rgb(90, 139, 0);
    border-radius: 5px;
}
#i2{
    width: 100px;
    background-color: red;
}
#i3{
    width: 55px;
    background-color: blue;
}
#h{
    text-align: center;
}
